$width: 100vw;

body {
  width: $width;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 600;
  font-family: Helvetica, sans-serif;
}