/* Breakpoints */
$screen-sm-min: 768px;
$screen-xs-max: $screen-sm-min - 1;
$screen-md-min: 992px;
$screen-sm-max: $screen-md-min - 1;
$screen-lg-min: 1250px;
$screen-md-max: $screen-lg-min - 1;
$screen-xl-min: 1500px;
$screen-lg-max: $screen-xl-min - 1;

/* Spacing */
$spacing-xs: 10px;
$spacing-sm: 20px;
$spacing-md: 40px;
$spacing-lg: 80px;
$spacing-xl: 120px;

/* Layout */
$min-page-width: 320px;
$max-page-width: 1900px;
$cont-lg: 90%;
$cont-md: 80%;
$cont-sm: 60%;
$gutter-sm: 5%;
$gutter-md: 10%;
$gutter-lg: 20%;
$max-width-sm: 1000px;
$max-width-md: 1200px;
$max-width-lg: 1440px;
$nav-height-sm: 70px;
$nav-height-lg: 100px;
$button-height: 50px;
$input-height: 50px;

/* Colors */
$color-white: #fff;
$color-black: #111;
$color-grey: #e2e2e2;

/* Font */
$font-family-primary: Helvetica,
Arial,
"Lucida Grande",
sans-serif;
$font-light: 200;
$font-book: 400;
$font-medium: 500;
$font-bold: 700;

/* Animations */
// TODO: Create animation variables
